{% extends 'base.html' %}

{% block title %}{{ circuit.circuit_name }}{% endblock %}

{% block content %}
<section>
  <h1 class="display-4">Races at {{ circuit.circuit_name }}</h1>
  <ul class="list-group">
    {% for race in races %}
      <li class="list-group-item"><a href="{% url 'race_detail' race.id %}">{{ race.year }} - {{ race.category }}</a></li>
    {% endfor %}
  </ul>
</section>

<section class="mt-4">
  <h2>Add New Race</h2>
  <form method="post" action="{% url 'add_race' circuit.id %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="year">Year:</label>
      <input type="number" class="form-control" id="year" name="year" required>
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      <select class="form-control" id="category" name="category" required>
        {% for category in categories %}
          <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="sequence">Sequence (Race order in season):</label>
      <input type="number" class="form-control" id="sequence" name="sequence" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Race</button>
  </form>
</section>
{% endblock %}