{% extends 'base.html' %}

{% block title %}Riders{% endblock %}

{% block content %}
<section>
  <h1 class="display-4">Riders</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Number</th>
        <th>Teams</th>
      </tr>
    </thead>
    <tbody>
      {% for data in rider_data %}
      <tr>
        <td>{{ data.rider.name }}</td>
        <td>{{ data.rider.country }}</td>
        <td>{{ data.rider.number }}</td>
        <td>
          {% for team in data.teams %}
            {{ team }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}